<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    

<div class="profile-container">
    <h1>👤 My Profile</h1>



    <div class="profile-card">
        

        <h3>Username</h3>
        <p>{{ username }}</p>

        <h3>Email</h3>
        <p>{{ email }}</p>

        <h3>Images Sent</h3>
        <p>{{ sent_count }}</p>

        <h3>Images Received</h3>
        <p>{{ received_count }}</p>

    </div>

</div>

</body>
</html>